:root {
    --black: #282828;
    --blue: #3500d3;
    --bluelight: #240090;
    --bluenormal: #190061;
    --bluedark: #0c0032;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bluedark);
}


.rock {
    background-image: url("./resource/rock.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.paper {
    background-image: url("./resource/paper.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.scissor {
    background-image: url("./resource/scissor.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.flexCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.header {
    background-color: white;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Major Mono Display', monospace;
    width: 100%;
}

.text {
    font-size: 1.5rem;
    font-family: 'Play', sans-serif;
    color: white;

}

.choiceDisplay {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

@media(width < 50em) {
    .choiceDisplay {
        flex-direction: column;
        width: fit-content;
        gap: 0;
        margin-bottom: 10px;

    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.playerChoice,
.computerChoice {
    margin-top: 2rem;
    gap: 3rem;
    justify-content: center;
    padding: 1rem;
    background: var(--blue);
    border-radius: 20px;
    min-width: 23%;
    aspect-ratio: 1;
}

#playerChoiceDisplay,
#computerChoiceDisplay {
    width: 100px;
    aspect-ratio: 1;
}

button {
    display: none;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: var(--black);
    color: white;
    transition: 250ms ease-out;
    font-family: 'Play', sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: var(--blue);
}

.winnerDisplay {
    visibility: hidden;
    text-align: center;
    width: fit-content;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.686);
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    font-size: 5rem;
    font-family: 'Major Mono Display', monospace;
    color: green;

}

/* User Choosing Styling  */

.choiceContainer {
    background-color: var(--black);
    color: white;
    font-family: 'Play', sans-serif;

    margin-top:auto;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;

}

.choice {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

span {

    font-size: 1.35rem;
}

.toChoose {
    width: 50px;
    aspect-ratio: 1;
    transition: 250ms ease-out;
}

.toChoose:hover {
    transform: translate3d(0,-5px,0);
    cursor: pointer;
}